name: Makefile CI

on:
  - push
  - pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Install
        run: composer install
      - name: Prepare project
        run: make prepare
      - name: Run linter
        run: make lint
      - name: Run tests
        run: make test
      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@v2.2.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}